.card__container {
  position: relative;
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: 282px min-content;
  grid-template-areas:
    "photo photo"
    "title like";
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
