.profile__avatar-container {
  margin-right: 30px;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: no-repeat center / cover;
}

.profile__avatar-container::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profile__avatar-container:hover::after {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("../../../images/edit-btn.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px;
}

@media screen and (max-width: 751px) {
  .profile__avatar-container {
    margin: 0 0 27px;
  }
}
