.info-popup {
  align-items: center;
  max-width: 430px;
  width: 100%;
  padding: 60px 36px;
}

.info-popup__title {
  margin: 0;
  text-align: center;
}

.info-popup__logo {
  margin-bottom: 32px;
}