.form-input {
  padding: 0 0 8px;
  display: block;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  background-color: transparent;
}

.form-input:focus {
  outline: none;
  border-bottom-style: dashed;
}

.form-input_invalid {
  border-bottom-color: #f00;
}

.form-input_inverted {
  border-bottom-color: rgba(204, 204, 204, 1);
  color: rgba(255, 255, 255, 1);
}

.form-input_inverted::placeholder {
  color: rgba(204, 204, 204, 1);
}

