.popup__container {
  position: relative;
  margin: auto;
  padding: 34px 36px 37px;
  width: 100%;
  max-width: 430px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  z-index: 1;
}

@media screen and (max-width: 751px) {
  .popup__container {
    margin: auto 19px;
    padding: 25px 22px;
  }
}
