.content {
  margin-bottom: 66px;
  width: 100%;
  max-width: 880px;
}

@media screen and (max-width: 751px) {
  .content {
    margin-bottom: 48px;
    box-sizing: border-box;
    padding: 0 19px;
  }
}
